* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "SamsungOne", "Segoe UI", system-ui, -apple-system,
    BlinkMacSystemFont, "Roboto", "Noto Sans", sans-serif;
}

body {
  background-color: #020617;
  color: #e5e7eb;
}
